@import '../abstract/var';

.descricao{
    height: 100vh;
    padding: 0 0.5rem;
    .descricao__titulo{
        margin-top: 4rem;
        font-size: $title;
        padding: 0.5rem 0;
        font-weight: 600;
    }

    .formula{
        margin: 1rem 0;
        .formula__titulo{
            font-size: $subtitle
        }
    }
    color: $white;
}