.formulario{
    background-color: #fff;
    max-width: 50vw;

    padding: 5rem;
    border-radius: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    .formulario__perguntas{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .perguntas__titulo{
            font-size: $titleSize;
            font-weight: 600;
            margin: 0 0 1rem 0;
        }
        .perguntas__input{
            border: none;
            background-color: $gray;
            padding: 0.5rem;
            border-radius: 15px;
        }
        .perguntas__submit{
            width: 100%;
            background-color: $green;
            border: none;
            color: #fff;
            padding: 0.5rem;
            border-radius: 15px;
        }
    }
}