//Colors
$background:  #fcf0e6;
$yellow: #FEBC1D;
$dark-yellow: #F1B33C;
$light-brown: #A55C25;
$dark-brown: #72544C;


//Fonts size
$title-font: 1.8rem;
$vote-font: 1.2rem;
$description-font: 0.8rem;